* {
    font-family: fantasy,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8c1269;
}

body {
    background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
    display: flex;
    align-items: center;
    justify-content: center;
 }

.calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .container{

    background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
}

#button{
    background-image: radial-gradient(circle at 50% -20.71%, #ff7a86 0, #ff6a84 16.67%, #ff567f 33.33%, #f23c78 50%, #e21972 66.67%, #d3006f 83.33%, #c7006f 100%);
    border: 2px solid;
    border-radius:6px;
  }
#operation{
    background-image: linear-gradient(180deg, #557673 0, #3e6967 25%, #1f5959 50%, #00494c 75%, #003c43 100%);
}
#igual{
    background-image: radial-gradient(circle at 50.83% 45.29%, #0070ff 0, #0069ff 10%, #0061ff 20%, #0057ff 30%, #4a4bfe 40%, #783cf2 50%, #9727e5 60%, #ae00d6 70%, #c100c6 80%, #d000b5 90%, #dc00a3 100%);
}
#pantalla{
    cursor: pointer;
}
#ce{
    cursor: default;
    background-image: radial-gradient(circle at 50% -20.71%, #ff7f49 0, #ff6f46 16.67%, #fe5942 33.33%, #f23c3c 50%, #e50b37 66.67%, #db0036 83.33%, #d20038 100%);
}
#borrar{
    background-image: linear-gradient(180deg, #fffd9b 0, #ffeb87 16.67%, #ffd66f 33.33%, #f2bd53 50%, #e3a437 66.67%, #d78f1f 83.33%, #cf7c07 100%)
}
#punto{
    background-image: linear-gradient(180deg, #ffbab2 0, #fcada8 25%, #f29d9d 50%, #e88d93 75%, #de808b 100%);
}